section {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
}
  h1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
ul {
  list-style-type: none;
  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
h2 {
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  text-align: center;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
.backimage {
  color: white;
}
p {
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
}
.footer {
  color: white;
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
img {
      display: block;
      margin-left: auto;
      margin-right: auto
}
